HOME_PAGE           # "http://wvnvms.wvnet.edu/vmswww/vms_mosaic.html"
PRINT_COMMAND       # "Print/Name=\""""""""From Mosaic\""""""""/Notify/Identify/Delete"
MAIL_PREFIX         # "in%"
! MAIL_PREFIX       # "smtp%"       ! Uncomment this for native UCX
EDIT_COMMAND        # "Edit"
NEWS_HOST           # ""            ! The name of the default news host
POSTSCRIPT_VIEWER   # "View/interface=decwindows/format=ps %s"
! POSTSCRIPT_VIEWER #"gv %s"        ! Uncomment to use Ghostview
